* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fundo-escuro: #000;
  --fundo-card: #1b2226;
  --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
  --texto-principal: hsla(0, 0%, 100%, 0.9);
  --texto-secundario: hsla(0, 0%, 100%, 0.6);
  --texto-escuro: hsla(0, 0%, 0%, 0.75);
  --input: #38434f;
  --primario: #70b5f9;
  --positivo: #3ec786;
}
body {
    background-color: var(--fundo-escuro);
}
main {
    font-family: 'Roboto', sans-serif;
    margin: 24px 154px;
}
.perfil {
  width: 780px;
  height: 468px;
  position: relative;
  background-color: var(--fundo-card);
  border-radius: 16px ;
}
.img__perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 118px;
  left: 24px;
  border: 5px solid var(--fundo-card);
}
.info__perfil {
    padding: 55px 24px;
    display: flex;
    gap: 100px;
}
.left {
    line-height: 25px;
    
}
.nome {
    font-size: 24px;
    color: #FFF;
    font-weight: 600;
}
.info__two {
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
}
.txt__segund {
    color: var(--texto-secundario);
}
.contact {
    color: var(--primario);
    text-decoration: none;
    font-weight: 700;
}
.follow {
    color: var(--primario);
    text-decoration: none;
    font-size: 14px;
}
.left span {
    color: var(--texto-secundario);
}
.plus {
    margin-top: 10px;
}
.btn-bg {
    background-color: var(--primario);
    padding: 6px 29px;
    border-radius: 16px;
    color: var(--fundo-card);
    text-decoration: none;

}
.btn-tra {
    background-color: transparent;
    padding: 6px 49px;
    border-radius: 16px;
    color: var(--primario);
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--primario);
}
.right {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.right p {
    color: #FFF;
    font-weight: 600;
}
.right img {
    width: 32px;
    height: 32px;
}
.instituicao {
    display: flex;
    align-items: center;
    gap:8px;

}

